@model User
<div class="card text-white bg-purple mb-3" style="width: 13rem;">
    @* <img class="card-img-top" src="..." alt="Card image cap"> *@
    <div class="card-body">
        <h5 class="card-title">@@@Model.Name</h5>
        <a href="/celeb/@Model.Name" class="btn btn-success bg-purple-darker border-purple-darker">Regurgitate</a>
    </div>
</div>