@model User
<div class="card text-white bg-success mb-3" style="width: 13rem;">
    @* <img class="card-img-top" src="..." alt="Card image cap"> *@
    <div class="card-body">
        <h5 class="card-title">@@@Model.Name</h5>
        <a href="/@Model.Name" class="btn btn-success">Regurgitate</a>
    </div>
</div>