@{
    ViewData["Title"] = "About - Baby Bird";
}

<div class="text-light">
    <h3 class="text-center">What is this?</h3>
    <div class="bg-dark p-3 rounded">
        <p>Baby Bird is a tool that uses a Markov Chain to generate a new tweet from a user's most recent 100 tweets, using TweetSharp and MarkovSharp.</p>
        <p>This website was created by:</p>
        <ul>
            <li><a href="https://github.com/CurryFriedRice">Anthony</a></li>
            <li><a href="https://github.com/bdulude">Brent</a></li>
            <li><a href="https://github.com/bduehlin">Brian</a></li>
        </ul>
        <p>Some historical tweet data was pulled from:</p>
        <ul>
            <li><a href="https://dataverse.harvard.edu/dataset.xhtml?id=3047332">https://dataverse.harvard.edu/dataset.xhtml?id=3047332</a></li>
            <li><a href="https://www.thetrumparchive.com/">https://www.thetrumparchive.com/</a></li>
        </ul>
        <small>The source code can be found <a href="https://github.com/bdulude/twitter-baby-birding">here</a>.</small>
    </div>
</div>
