@{
    ViewData["Title"] = "Baby Bird";
}
@model string
<div class="text-center">
    <h4>Mama came back with this for you:</h4>
    <p>@Model</p>
    <a href="." class="btn btn-success">Go again</a>
</div>

