@{
    ViewData["Title"] = "Baby Bird";
}
@model List<string>
<div class="text-center bg-dark p-3 rounded">
    <h4 class="text-light">Papa went to the land of @@@ViewBag.celeb, and came back with this for you:</h4>
    <p class="w-50 bg-light mx-auto p-3 my-3 rounded">@Model[0]</p>
    <p><a href="/celeb/@ViewBag.celeb" class="btn btn-info">Get another from @@@ViewBag.celeb</a></p>
    <a href=".." class="btn btn-success">Go back home</a>
    <a class="btn btn-primary" href="https://twitter.com/intent/tweet?text=@Model[1]">Tweet</a>
    <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
</div>
