@{
    ViewData["Title"] = "Baby Bird";
}
@model string
<div class="text-center">
    <h4 class="text-light">Mama came back with this for you:</h4>
    <p class="w-50 bg-light mx-auto p-3 my-3 rounded">@Model</p>
    <a href="." class="btn btn-success">Go again</a>
</div>
