@{
    ViewData["Title"] = "Baby Bird";
}
@model List<string>
<div class="text-center bg-dark p-3 rounded">
    <h4 class="text-light">Randomness Generated From the Celebs of Twitter</h4>
    <p class="w-50 bg-light mx-auto p-3 my-3 rounded">@Model[0]</p>
    <a href="chaos" class="btn btn-success mb-3">New Chaos!</a>
    <a class="btn btn-primary mb-3" href="https://twitter.com/intent/tweet?text=@Model[1]">Tweet</a>
    <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
    <p class="text-light">Ingredients mixed:</p>
    <ul class="list-group w-25 mx-auto">
        @foreach (string User in ViewBag.UsersHandles)
        {
            <li class="list-group-item">@User</li>
        }
    </ul>
</div>

