@{
    ViewData["Title"] = "Privacy Policy";
}
<h2 class="text-center text-light">@ViewData["Title"]</h2>
<div class="text-center text-light w-75 mx-auto bg-dark rounded p-3">
    <p class="mb-0">This website will never store any text you generate or twitter data you enter.</p>
</div>

